<html>
<head>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<table class="table table-striped">
   <caption>Movies {{name}} Rated</caption> <!-- later change this to username instead of "you" -->
   <thead>
      <tr>
         <th>Movie Title</th>
         <th>Rating</th>
      </tr>
   </thead>
   <tbody>

       {% for rated_movie in rated_movies%}
        <tr>
            <td> <a href = "/movie?movie_id={{ rated_movie.Movie.movie_id }}"> {{rated_movie.Movie.title}}</a> </td>
            <td> {{rated_movie.Rating.rating}} </td>
        </tr>
        {% endfor %}



     </tbody>
</table>



</body>
</html>